<header>
  <h1>Kamo.social</h1>
  <button id="login-button">Log in</button>
</header>

<div id="welcome-section">
  <p>
    Meet people with the same interests as you.<br/>
    Or not. It's cool to open your mind as well. :)
  </p>
</div>

<div id="explanation-section">
  <h2>How does it work?</h2>
  <div>
    <img />
    <p>Receive invitations by email to meet other people and get socializing!</p>
  </div>
  <div>
    <img />
    <p>Meet in bars, cafés or restaurants near where you are or often go</p>
  </div>
  <div>
    <img />
    <p>Give only the necessary data to make it work. No tracking.</p>
  </div>
</div>
