<% if flash[:notice] %>
  <div class="flash notice"><i class="fa fa-info-circle" aria-hidden="true"></i><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="flash alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><%= flash[:alert] %></div>
<% end %>

<div id="privacy-section">
  <h2>Résumé</h2>
  <ol>
    <li>Les données personnelles sont stockées chez l'hébergeur de Kamo.social et ne sont pas partagées à des tiers.</li>
    <li>Si la politique de confidentialité venait à changer, les utilisateurs seront notifiés par email.</li>
    <li>Les utilisateurs peuvent modifier et supprimer leurs données via l'interface du site web.</li>
    <li>L'éditeur de Kamo.social ne propose aucune garantie de service et de sécurité compte-tenu de ses faibles moyens.</li>
  </ol>

  <h2>Informations générales</h2>
  <p>Le présent site web est édité et exploité par <a href="http://mastodon.qowala.org/@KillianKemps">Killian Kemps</a>.</p>
  <p>Compte tenu de ses moyens, l'éditeur ne propose aucune garantie concernant la sécurité des données personnelles, dans la limite des législations françaises et européennes.</p>

  <h2>Hébergement du site</h2>
  <p>
  L'hébergement du site est assuré par <a href="https://www.heroku.com/about">Heroku</a>.<br>
  Les serveurs sont situés en Europe.<br>
  Adresse de l'hébergeur :<br>
  <address>
    Salesforce<br>

    The Landmark @ 1 Market St.<br>
    Suite 300<br>
    San Francisco, CA<br>
    94105<br>
  </address>
  </p>

  <h2>Traitement des données à caractère personnel</h2>
  <p>
  La directive Européenne du 24 Octobre 1995, la loi française 78-87 du 6 janvier 1978, la loi française 2004-801 du 6 août 2004 ainsi que l'article L-226-13 du code pénal français protègent l'ensemble des données personnelles.<br>
  </p>
  <p>
  Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, et le Règlement Européen Général sur la Protection des Données 2016/679 (RGPD), vous disposez des droits d’accès, de rectification et de suppression des données personnelles vous concernant que vous pouvez exercer en écrivant à : hello@kamo.social
  </p>

  <h3>Données collectées</h3>
  <p>Les données collectées ne font l'objet d'aucun usage commercial.</p>
  <p>Toutes les données collectées et explicitement cédées par l'utilisateur sont destinées à l'usage principal du service Kamo.social :</p>
  <ul>
    <li>Adresse email</li>
    <li>Nom d'utilisateur</li>
    <li>Mot de passe hashé</li>
    <li>Centres d'intérêts</li>
    <li>Lieux de rencontre</li>
  </ul>

  <p>Les données suivantes sont collectées de part l'usage de cadriciels ("frameworks") et de bibliothèques ("librairies") qui créent ces données de manière automatique dans le cadre de la gestion de compte utilisateur.</p>
  <p>Ces données sont collectées à des fins de sécurité et de gestion.</p>
  <ul>
    <li>Nombre de connexions au compte utilisateur</li>
    <li>Date d'ouverture de la session utilisateur courante</li>
    <li>Date de l'ouverture de la précédente session utilisateur</li>
    <li>Adresse IP de la session utilisateur courante</li>
    <li>Adresse IP de la précédente session utilisateur</li>
    <li>Date de confirmation de la création de compte</li>
    <li>Date d'envoi de l'email de confirmation de création de compte</li>
    <li>Date de création de compte</li>
    <li>Date de mise à jour du compte</li>
  </ul>
</div>
