<div class="bg-lightest-blue black pa4">
  <ul class="center mw7 tc list">
    <li class="pa1">Privacy policy coming soon. But to sum up, will be GDPR compliant and keep your data private.</li>
    <li class="pa1">Contact <a href="http://mastodon.qowala.org/@KillianKemps">Killian Kemps</a> for any requests, suggestions or questions.</li>
    <li class="pa1">© Copyright Killian Kemps 2018</li>
  </ul>
</div>
