<div id="footer">
  <ul class="conditions">
    <li><%= link_to t("footer.privacy_policy"), privacy_policy_path %></li><!--
    --><li><a href="#"><%=t 'footer.credits' %></a></li>
  </ul>
  <ul class="author">
    <li><%=t 'footer.made_with_love' %></li><!--
    --><li>© 2018 <a href="http://mastodon.qowala.org/@KillianKemps">Killian Kemps</a></li>
  </ul>
</div>
