<div id="footer">
  <ul>
    <li><a href="#">Terms and conditions</a></li><!--
    --><li><a href="#">Privacy Policy</a></li><!--
    --><li><a href="#">Credits</a></li>
  </ul>
  <span>Made with <3 in Paris | © 2018 <a href="http://mastodon.qowala.org/@KillianKemps">Killian Kemps</a></span>
</div>
