<header>
  <h1>Kamo.social</h1>
  <% if user_signed_in? %>
    <span id="username"><%=t 'header.signed_in_as' %> <%= current_user.username %></span>
   <%= link_to(t('header.logout'), destroy_user_session_path, method: :delete, id:"logout-button") %>
  <% else %>
    <%= link_to t('header.login'), login_path, id:"login-button" %>
  <% end %>
</header>

