h1 {
  font-size: 3rem;
  color: #fff;
  margin: 0;
  text-shadow: 4px 4px 1px #1B998A;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

header {
  height: 75px;
  padding: 25px;
  background-color: #F4D35E;
}

#login-button, #session-dropdown {
  font-family: 'indie_flowerregular', sans-serif;
  font-size: 1.4rem;
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #1B998A;
  border: none;
  padding: 10px 30px;
  border-radius: 7px;
  color: #F4D35E;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
  width: 110px;
}

#login-button:hover {
  top: 31px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.2);
}

#lang-dropdown {
  font-family: 'indie_flowerregular', sans-serif;
  font-size: 1.4rem;
  position: absolute;
  right: 220px;
  top: 30px;
  width: 110px;
  background-color: #1B998A;
  border: none;
  padding: 10px 30px;
  border-radius: 7px;
  color: #F4D35E;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
}

#lang-dropdown ul, #session-dropdown ul {
  margin-top: 10px;
  display: none;
}

#lang-dropdown ul a, #session-dropdown ul a {
  color: #F4D35E;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}

#lang-dropdown ul a:hover, #session-dropdown ul a:hover{
  text-decoration: underline;
}

#lang-dropdown:hover ul, #session-dropdown:hover ul {
  display: block;
}

#lang-dropdown i {
  position: relative;
  bottom: 3px;
  left: 4px;
}

@media all and (max-width: 500px) {
  #login-button, #logout-button, #username {
    display: none;
  }

  #lang-dropdown {
    display: none;
  }
}
