// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaflet-control-geosearch.bar {
  text-align: left;
}

.account-deletion-highlight {
  font-size: 1rem;
  font-style: italic;
  position: relative;
  top: 45px;
}

.account-deletion-highlight a {
  color: white;
}

@media all and (max-width: 500px) {
  .leaflet-control-geosearch.bar {
    width: 80%;
    left: 50px;
    margin: 10px;
  }
}
