html {
  font-family: 'helvetica neue', helvetica, sans-serif;
  background-color: #cdecff;
}

#interests-list li {
  cursor: pointer;
}

#mapid {
  height: 700px;
}

input[type=text], input[type=password], input[type=email] {
  width: 350px;
}

#added-places button {
  background-color: #357edd;
  color: #f6fffe;
  border: none;
  padding: 10px 15px;
}

input[type=submit] {
  background-color: #357edd;
  color: #f6fffe;
  border: none;
  padding: 15px 80px;
  margin-top: 20px;
  cursor: pointer;
}
