#preferences-message {
  margin-top: 60px;
  padding: 15px;
}

.button {
  font-family: 'Kalam', sans-serif;
  font-size: 1.4rem;
  background-color: #7CCFBE;
  border: none;
  padding: 10px 30px;
  border-radius: 7px;
  color: #FFDA4B;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
  width: 110px;
}

.button.main {
  margin: 20px auto;
  display: block;
}

.button:hover {
  top: 1px;
  position: relative;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.2);
}

.back {
  display: inline-block;
}

.buttons-line input[type=submit] {
  width: 170px;
  margin-left: 40px;
}

/* INTERESTS */

#interests-section #interests-list li {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px;
  font-weight: bold;
  border: 2px solid #7CCFBE;
  color: #7CCFBE;
  border-radius: 7px;
}

/* PLACES */
#places-section .explanation-marker {
  position: relative;
  top: -5px;
  display: inline-block;
}

/*** DISABLED
#interests-section #interests-list li:hover {
  color: white;
  background-color: #7CCFBE;
}
***/

#interests-section label {
  display: none;
}

#interests-section input[type=text] {
  box-shadow: 0 5px 10px #ccc;
  border-radius: 25px;
  width: 40%;
  border: none;
  padding: 15px 40px;
  text-align: center;
}

#interests-section p {
  margin: 50px 20px 30px;
}
