#terms-section a {
  color: #7CCFBE;
}

#terms-section p, #terms-section ol {
  max-width: 600px;
  margin: 20px auto;
}

#terms-section ol li {
  margin: 20px auto;
}

#terms-section ul li {
  margin: 10px auto;
}


#terms-section ul li:before {
  font-family: FontAwesome;
  content: "\f105";
  margin-right: 10px;
}
